<?xml version="1.0"?>
<openbox_menu>
  <!-- https://labwc.github.io/labwc-menu.5.html -->
  <menu id="root-menu" label="">
    <item label="Firefox"><action name="Execute" command="firefox" /></item>
    <separator />
    <item label="PCManFM"><action name="Execute" command="pcmanfm-qt" /></item>
    <separator />
    <item label="Kitty"><action name="Execute" command="kitty" /></item>
    <item label="XTerm"><action name="Execute" command="xterm" /></item>
    <item label="Foot"><action name="Execute" command="foot" /></item>
    <item label="Wezterm"><action name="Execute" command="wezterm" /></item>
    <separator />
    <item label="pavucontrol-qt"><action name="Execute" command="pavucontrol-qt" /></item>
    <item label="qpwgraph"><action name="Execute" command="qpwgraph" /></item>
    <item label="quimup"><action name="Execute" command="quimup" /></item>
    <item label="qmmp"><action name="Execute" command="qmmp" /></item>
    <item label="vlc"><action name="Execute" command="vlc" /></item>
    <separator />
    <item label="conky"><action name="Execute" command="conky" /></item>
    <separator />
    <item label="Reconfigure"><action name="Reconfigure" /></item>
    <item label="wdisplays"><action name="Execute" command="wdisplays" /></item>
    <menu execute="labwc-menu-generator" id="obamenu" label="Menu" />
    <separator />
    <item label="Exit"><action name="Exit" /></item>
  </menu>
</openbox_menu>
